@import 'macro-css';
body{
  background-image: url("/public/img/1.png");
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.wrapper{
  flex-wrap: wrap;
  background:#f0d5f5;
  opacity: 70px;
  box-shadow: 0px 10px 20px rgba(230, 94, 200, 0);
  border-radius: 20px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  
}

header{
  border-bottom: 1px solid #8a8989;
  

}
.content {
  
    margin: 0;
  
}
.card {
  
    border: 1px solid #f7f7f7;
  padding: 30px;
  margin: 10px;
  width: 200px;
  height: 200px;
 border-radius: 40px;
 margin-right: 10px;
 
 
 }
.favorite{
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
 transition: box-shadow 0.2s ease-in-out; transform: 0.3s ease-in-out;
 transform: translateY(-5px);
 cursor:pointer;
}



.things{
  
  border: 1px solid #8a8989;
  box-sizing: border-box;
  border: radius 8px;
  height: 90px;
  width: 90px;
 
    
}
.cartTotalBlock{
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  
  width: 100%;
  height: 150px;
  
}

.removeBtn{
  cursor: pointer;
  padding: 40px;
}
.basket{
  padding: 40px;
  cursor: pointer;
}
.greenButton{
  color: #4f9946;
  
    display: block;	
    box-sizing: border-box;
    padding: 20 20px;
    margin: 12 15px 15px 0;
    outline: none;
    border: none;  
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 50;
    font-family:initial;
    color: #fff;
    background-color: #5aec97;
    box-shadow: 0 2px #30c523;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
   
  }
  
.drawer{
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #f0d5f5;
  box-shadow: -10px 4px 25px rgba(0, 0, 0, 0.05);
 
}
.overlay{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.plus{
  cursor: pointer;
}

.cartItemImg {
  border: 1px solid #f7f7f7;
padding: 10px;
margin: 10px;
width: 40px;
height: 40px;
border-radius: 30px;
margin-right: 10px;}